<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-datatable/paper-datatable.html">
<link rel="import" href="../../bower_components/paper-datatable/paper-datatable-column.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-twoup.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-fourup.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-sixup.html">
<link rel="import" href="../../bower_components/px-theme/px-theme.html">
<link rel="import" href="../../bower_components/px-kpi/px-kpi.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/google-apis/google-apis.html">
<link rel="import" href="../../bower_components/google-apis/google-maps-api.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">




<dom-module id="vehicles-view">
  <style>
    paper-material{
      background-color: white;
      margin-bottom: 20px;
    }
    paper-toolbar{
      font-size: medium;
    }
  </style>
  <template>
    <paper-material elevation="3">
    
    <px-twoup id="widgetsx2">
    <div class=widget-1>
    <paper-toolbar>
      <span class="title" style="font-size:medium; font-weight:bold;">Vehicles Analysis</span>
    </paper-toolbar>
    <div align="right">
      <paper-radio-group selected="{{filterValue}}">
       <paper-radio-button name="all">All</paper-radio-button>
       <paper-radio-button name="normal">Normal</paper-radio-button>
       <paper-radio-button name="High" on-change="applyFilter">High</paper-radio-button>
      </paper-radio-group>
      </div>

      <paper-datatable data="{{data}}" id="datatable" selectable selected-item="{{selectedItem}}" on-row-tap="rowTapped" id-property="id" filter="{{vFilter}}">
          <template is="dom-repeat" items={{items}}>
            <paper-datatable-column 
            header="{{item.header}}" 
            property="{{item.property}}" 
            type="{{item.type}}"
            tooltip="{{item.tip}}"
            sortable align="center" 
            style="min-width: 40px" sortable></paper-datatable-column>
          </template>
      </paper-datatable>
    </div>
    <div class=widget-2>
    <paper-toolbar>
    <paper-tabs selected="{{selectedTab}}" fit-container>
      <paper-tab>Dashboard</paper-tab>
      <paper-tab>Analytics</paper-tab>
      <paper-tab>Locate</paper-tab>
    </paper-tabs>
    </paper-toolbar>

    <iron-pages selected="{{selectedTab}}">
      <div>
        <!-- Dashboard Page -->
        <px-sixup id="widgetsx6" widget-header="DASHBOARD" widget-icon="fa-bar-chart">
          <div class=widget-1>
        <px-kpi id="kpi-1" title="Speed" value="{{vehicle.readings.speed}}" status-icon="tachometer" status-color="green" spark-type="line"></px-kpi>
      </div>
      <div class=widget-2>
        <px-kpi id="kpi-2" title="Fuel Level" value="{{vehicle.readings.fuelLevel}}" status-icon="tint" status-color="orange" spark-type="line"></px-kpi>
      </div>
      <div class=widget-3>
        <px-kpi id="kpi-3" title="Air Intake Temperature" value="{{vehicle.readings.airIntakeTemp}}" uom="" status-icon="fire" status-color="orange" spark-type="line"></px-kpi>
      </div>
      <div class=widget-4>
        <px-kpi id="kpi-4" title="Engine RPM" value="{{vehicle.readings.engineRpm}}" uom="" status-icon="safari" status-color="red" spark-type="line"></px-kpi>
      </div>
      <div class=widget-5>
        <px-kpi id="kpi-5" title="FUEL CONSUMPTION RATE" value="{{vehicle.readings.fuelConsumptionRate}}" uom="" status-icon="flask" status-color="orange" spark-type="line"></px-kpi>
      </div>
      <div class=widget-6>
        <px-kpi id="kpi-6" title="ENGINE RUNTIME" value="{{vehicle.readings.engineRuntime}}" uom="" status-icon="clock-o" status-color="green" spark-type="line"></px-kpi>
      </div>
        </px-sixup>
      </div>
      <!-- Analytics Tab -->
      <div>Page 2</div>
      <!-- Track Vehicle -->
      <div>
        <px-card header-text="Map" >
        <google-map disable-default-ui zoom="18" latitude="19.157935" longitude="72.993476">
         <google-map-marker latitude="19.157935" 
           longitude="72.993476"
          title="{{vehicle.readings.vehicleid}}" 
          draggable="true" 
          icon="../car.png">
        </google-map-marker>
        </google-map>
       </px-card>
      </div>
    </iron-pages>
    </div>
    </px-twoup>
    </paper-material>
    
  </template>
  <script>
    Polymer({
      is: 'vehicles-view',
      properties: {
        selectedTab:{
          type:Number,
          value:0
        },
        data:{
          type: Object,
          value:[
          {id:1,vid:'MH04GT7785',vname: 'Skoda Rapid',vlevel:'high'},
          {id:2,vid:'MH04GT7786',vname: 'Hyundai',vlevel:'normal'},
          {id:3,vid:'MH04GT7787',vname: 'Honda ',vlevel:'high'},
          {id:4,vid:'MH04GT7788',vname: 'Hyundai',vlevel:'normal'},
          {id:5,vid:'MH04GT7789',vname: 'Honda ',vlevel:'high'}
          ]
        }
      },
      ready: function() {
        console.log('vehicles-view ready()');
        this.items = [
        {header:'Vehicle ID',property:'vid',type:'String',tip:'Vehicle ID'},
        {header:'Vehicle Name',property:'vname',type:'String',tip:'Vehicle Name'},
        {header:'Level',property:'vlevel',type:'String',tip:'Criticality Level'},
        ]
      }
    });
  </script>
</dom-module>
