<link rel="import" href="../../bower_components/polymer/polymer.html">
<!-- Polymer Elements  -->
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-datatable/paper-datatable.html">
<link rel="import" href="../../bower_components/paper-datatable/paper-datatable-column.html">
<link rel="import" href="../../bower_components/google-apis/google-apis.html">
<link rel="import" href="../../bower_components/google-apis/google-maps-api.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<!-- Predix UI components -->
<link rel="import" href="../../bower_components/px-widget-cards/px-twoup.html">
<link rel="import" href="../../bower_components/px-widget-cards/px-sixup.html">
<link rel="import" href="../../bower_components/px-theme/px-theme-styles.html">
<link rel="import" href="../../bower_components/px-kpi/px-kpi.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-spinner/px-spinner.html">

<!-- Third Party imports -->
<link rel="import" href="../../bower_components/l2t-paper-slider/l2t-paper-slider.html">

<dom-module id="vehicles-view">
  <style>
    paper-material{
      background-color: white;
      min-height: 768px;
      padding: 2px;
    }
    paper-toolbar{
      font-size: medium;
    }
    google-map {
     height: 480px;
   }
   paper-toggle-button{
    align-content: right;
    margin-top: 5px;
    margin-bottom: 10px;
   }
   px-spinner{
    position: absolute;
    margin-top:240px;
    margin-left: 260px;
   }
   paper-spinner{
    position: absolute;
    margin-top:180px;
    margin-left: 260px;
   }
   .yellow-button {
    text-transform: none;
    color: #eeff41;
  }

  </style>
  
  <style is="custom-style">
  .custom {
    --paper-slide-dot: rgba(120,144,156 ,.8);
    --paper-slide-dot-selected: rgba(38,50,56 ,1);
	}
  paper-datatable{
        --paper-datatable-row-hover-color: #9999ff;
  }
  
</style>

  <template>
  
  <iron-ajax  auto id="tableData"
    url="https://vds-analytic.run.aws-usw02-pr.ice.predix.io/getObdDash"
    handle-as="json"
    last-response="{{data}}"
    loading="{{loadingData}}"
    ></iron-ajax>

<iron-ajax id="dashboardData"
    url="https://vds-analytic.run.aws-usw02-pr.ice.predix.io/readings/{{selectedItems.vehicleid}}"
    handle-as="json"
    last-response="{{dashData}}"
	on-response="_vehicleSelect"
    ></iron-ajax>
	
	<iron-ajax     id="analyticsData"
    url="https://vds-analytic.run.aws-usw02-pr.ice.predix.io/getVehicleAlert/{{selectedItems.vid}}"
    handle-as="json"
    last-response="{{analyticsAlertData}}"
    loading="{{loadingalerts}}"
    ></iron-ajax>
	
	<iron-ajax   id="dashboardMapData"
    url="https://vds-analytic.run.aws-usw02-pr.ice.predix.io/readings/"
	method="POST"
	content-type="application/json"
    handle-as="json"
    last-response="{{dashMapData}}"
	on-response="_mapDashboard"></iron-ajax>

<!-- ajax calls end -->

    <px-twoup id="widgetsx2">
    
    <!-- Left Side Content -->
    <div class=widget-1>
    <paper-material elevation="1">
    <!-- on Page Load -->
    <paper-toast duration="6000" opened text="Hi, Welcome! Please select vehicles to view real time data feed or track them.">
    </paper-toast>
  <!-- end -->
    <paper-toolbar>
      <iron-icon icon="icons:view-list"></iron-icon>
      <span class="title" style="font-size:medium; font-weight:bold;">Vehicles
      </span>
      <paper-icon-button id="vcount" icon="maps:directions-car" alt="vehicles count">
      </paper-icon-button>
      <paper-badge for="vcount" label="{{data.length}}">
      </paper-badge>
    </paper-toolbar>
      
    <paper-datatable data="{{data}}" id="datatable" selectable selected-item="{{selectedItem}}" multi-selection
      selected-items="{{selectedItems}}" on-row-tap="rowTapped" id-property="id">
          <template is="dom-repeat" items={{items}}>
            <paper-datatable-column 
            header="{{item.header}}" 
            property="{{item.property}}" 
            type="{{item.type}}"
            tooltip="{{item.tip}}"
            sortable align="center" 
            style="min-width: 40px" sortable></paper-datatable-column>
          </template>
      </paper-datatable>
    </paper-material>
    </div>

    <!-- right side content-->
    <div class=widget-2>
    <paper-material elevation="1"> 
    <paper-toolbar>
    <paper-tabs selected="{{selectedTab}}" fit-container>
      <paper-tab> 
      <span><iron-icon icon="icons:dashboard"></iron-icon> Dashboard</span>  
      </paper-tab>
      <paper-tab>
        <span><iron-icon icon="icons:assignment"></iron-icon> Analytics 
        <paper-badge label="{{analyticsAlertData.length}}"></paper-badge>
        </span>  
      </paper-tab>
      <paper-tab>
        <span><iron-icon icon="maps:my-location"></iron-icon> Track Vehicles</span>  
      </paper-tab>
    </paper-tabs>
    </paper-toolbar>

    <iron-pages selected="{{selectedTab}}">
      <div>
    <!-- Dashboard Page -->
		<!-- <template is="dom-if" if="{{_isNullDashMapaData(dashMapData)}}"> -->
		<l2t-paper-slider auto-progress slide-duration="5"  class="custom" total-slides="{{_computeSlides(dashMapData)}}">
        
			 <paper-slide id="tempSlide">
      <!-- <paper-spinner active></paper-spinner>  
      <px-spinner size="50"></px-spinner>-->  
      
      </paper-slide>
            
			<template is="dom-repeat" items="{{dashMapData}}" as="item">
			<paper-slide>

				<px-sixup id="widgetsx6" widget-header="VehicleID: {{item.vehicleid}}" widget-icon="fa-bar-chart">
					<div class=widget-1>
					<px-kpi id="kpi-1" title="Speed (kmph)" value="{{item.speed}}" status-icon="tachometer" status-color="green" spark-type="line"></px-kpi>
					</div>
					<div class=widget-2>
					<px-kpi id="kpi-2" title="Engine Coolant Temp (C)" value="{{item.engineCoolantTemp}}" status-icon="tint" status-color="orange" spark-type="line"></px-kpi>
					</div>
					<div class=widget-3>
					<px-kpi id="kpi-3" title="Air Intake Temp (C)" value="{{item.airIntakeTemp}}" uom="" status-icon="fire" status-color="orange" spark-type="line"></px-kpi>
					</div>
					<div class=widget-4>
					<px-kpi id="kpi-4" title="Engine RPM" value="{{item.engineRpm}}" uom="" status-icon="safari" status-color="red" spark-type="line"></px-kpi>
					</div>
					<div class=widget-5>
					<px-kpi id="kpi-5" title="Air Fuel Ratio" value="{{item.airFuelRatio}}" uom="" status-icon="flask" status-color="orange" spark-type="line"></px-kpi>
					</div>
					<div class=widget-6>
					<px-kpi id="kpi-6" title="ENGINE RUNTIME (s)" value="{{item.engineRuntime}}" uom="" status-icon="clock-o" status-color="green" spark-type="line"></px-kpi>
					</div>
					</px-sixup>
				</paper-slide>	
			<!-- </template> -->
		</l2t-paper-slider>
		</template>	
      </div>

      <div>
	   <!-- Analytics Tab -->
     <paper-toast opened="{{loadingalerts}}" text="Loading..."></paper-toast>
		<paper-datatable data="{{analyticsAlertData}}" id="analyticsDatatable" id-property="id">
			<paper-datatable-column header="Alert Type" property="alertType" type="String"  tooltip="" sortable class="fuel"></paper-datatable-column>
			<paper-datatable-column header="Vehicle ID" property="vehicleNumber" type="String" ></paper-datatable-column>
			<paper-datatable-column header="Message" property="alertMessage" type="String"   tooltip=""></paper-datatable-column>
			<paper-datatable-column header="CreatedDateTime" property="alertDateTime" type="String"  tooltip=""></paper-datatable-column>		
		</paper-datatable>
    <paper-spinner alt="Loading contacts list" active="{{loadingalerts}}"></paper-spinner>
	  </div>
		 
      <!-- Track Vehicle -->
      <div>
    <px-card header-text="Track Vehicles" >		
		<google-map latitude="19.157935" longitude="72.993476" fit-to-markers disable-default-ui>
        <template is="dom-repeat" items="{{dashMapData}}" as="item">
        
          <google-map-marker latitude="{{item.latitude}}" 
           longitude="{{item.longitude}}"
          title="{{item.vehicleid}}" 
		  label="{{item.vehicleid}}" 
          draggable="true" 
          open
          icon="../car.png">
			<div>
				<ul type="none">
					<B>
						<li>VID: {{item.vehicleid}}</li>
						<li>Speed: {{item.speed}}</li>
						<li>RPM: {{item.engineRpm}}</li>
            <li>RunTime: {{item.engineRuntime}}</li>
					</B>
				</ul>
			</div>
        </google-map-marker> 
		</template>
    </google-map>
    </px-card>
    </div>
    </iron-pages>
    </paper-material>
    </div>
    </px-twoup>    
  </template>
  <script>
    Polymer({
      is: 'vehicles-view',
      properties: {
        selectedTab:{
          type:Number,
          value:0
        },
        checked:{
          type: Boolean,
          value:false
        },
        selectedItems:{
          type:Object,
		  observer: "_selectedVehicles",
		  notify: true
        },
        data:{
          type: Object
          
        },
		loadCarousel:{
			type: Boolean,
			observer: "_refreshCarousel",
			notify: true
		}
      },
	  markerClicked: function(){
		console.log('google_map_marker_click');
		//sender.info.close();
	  },
	  _isNullDashMapaData: function(val){
		console.log("checking if dataMapData is null..."+val);
		console.dir(val);
		
		if(val.length>0)
		{
			
			console.log("Returning true..");
			return true;
		}
		else{
			
			console.log("Returning false");
			return false;
			}
	  },
	  _computeSlides: function(val){
		
		console.log("Total Slides:"+val.length);
		if(val.length > 0)
		{
			var element = this.$.tempSlide;
			if (typeof(element) != 'undefined' && element != null)
			{
				console.log("Element is present... removing it..");
				element.remove();
			}
		}
		/*else if(val.length == 0){
			this.$$("#widgetx6").remove();
			console.log("Creating temp slide.."); 
		}*/
		
		
		return val.length;
	  
		//return (val.length + 1);	
	  },
	  _refreshCarousel:function(){
		this.$.mycar.innerHTML = "<carousel-slide>Hello</carousel-slide>";
	  },
	  _selectedVehicles: function(e){
	  
			if (e.length > 0)
			{
				console.dir(e);
				console.log(e[0].vid);
				
				// Load Dashboard
				var irDashboard = this.$.dashboardData;
				var vid = e[0].vid;
				irDashboard.url = "https://vds-analytic.run.aws-usw02-pr.ice.predix.io/readings/"+vid;
				this._vehicleSelect();
				
				// Load Analytics
				var irAnalytics = this.$.analyticsData;
				irAnalytics.url = "https://vds-analytic.run.aws-usw02-pr.ice.predix.io/getVehicleAlert/"+vid;
				this._analyticResp();
				
				// Load Map
				console.log("Multiselect.. Load maps");
				var irDashboardMapData = this.$.dashboardMapData;
				irDashboardMapData.body = JSON.stringify(e);
				this._mapDashboard();
				
				
			}
		},
		_hasAlerts: function(){
			console.log("Alert check condition: "+this.analyticsAlertData.errorMessage);
			return this.analyticsAlertData.errorMessage;
		},
		_updateData: function() {
			//this.async(function() {
			  this.$.tableData.generateRequest();
		  //  }, 2000);
		},
      _onResponse: function() {
            console.log('received response');
            this._updateData();
          },
          _vehicleSelect :function() {
		  
			console.log("Calling selected vehicle's dashboard..");
            this.async(function() {
				console.log("Async getting dashboard data..");
               this.$.dashboardData.generateRequest();
            }, 2000);
          },
          _analyticResp :function() {
           this.async(function() {
				console.log("Async getting analytics notifications... ");
              this.$.analyticsData.generateRequest();
            }, 2000);
          },
		_mapDashboard :function() {
			this.async(function() {
			console.log("Async getting map data..");
              this.$.dashboardMapData.generateRequest();
            }, 2000);
        },
      rowTapped:function(event) {
        // row clicked events body
      },
      ready: function() {
	  // called when page loads
		console.log('vehicles-view ready()');
        this.items = [
        {header:'Vehicle ID',property:'vid',type:'String',tip:'Vehicle ID'},
        {header:'Vehicle Name',property:'vname',type:'String',tip:'Vehicle Name'},
        {header:'Alert Count',property:'vlevel',type:'String',tip:'Criticality Level'}
        ]
      }
    });
	
	
  </script>
  
 </dom-module>
